.header-bottom + .header-last {
  padding-top: inherit;
}

.header-last .menuBar {
  position: relative;
  height: 60px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}

.header-last .menuBarDiv {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
  display: flex;
}

.categoryDropdown {
  position: relative;
}

.categoryButton {
  display: flex;
  width: unset;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  padding: 11px 1.5rem;
  font-weight: 600;
  font-family: inherit;
  color: rgb(43, 52, 69);
  background: rgb(246, 249, 252);
  transition: all 150ms ease-in-out 0s;
  line-height: 1;
  border: none;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.categoryIconDiv {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
}

.CategoryText {
  font-weight: 600;
  text-align: left;
  margin-left: 10px;
  color: rgb(125, 135, 156);
  flex: 1 1 0px;
}

.dropdownicon_arrowUp {
  margin-left: 0.25rem;
  transition: all 250ms ease-in-out 0s;
  transform: rotate(0deg);
  color: rgb(125, 135, 156);
}

.dropdownicon_arrowDown {
  margin-left: 0.25rem;
  transition: all 250ms ease-in-out 0s;
  transform: rotate(90deg);
  color: rgb(125, 135, 156);
}

.menuDropdown {
  left: 0px;
  right: auto;
  border-radius: 4px;
  padding: 0.5rem 0px;
  transform-origin: center top;
  position: absolute;
  transform: scaleY(1);
  top: calc(100% + 0.7rem);
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  transition: all 250ms ease-in-out 0s;
  z-index: 98;
}

.categoryName {
  height: 40px;
  display: flex;
  cursor: pointer;
  min-width: 278px;
  white-space: pre;
  padding: 0px 1rem;
  -webkit-box-align: center;
  align-items: center;
  transition: all 250ms ease-in-out 0s;
}

.categoryName .title {
  padding-left: 0.75rem;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.categoryItem{
  position: relative;
}

.categoryItem:hover > .categoryName {
  color: rgb(233, 69, 96);
  background: rgb(255, 225, 230);
}

.subcategory.megamenu {
  display: none;
  position: absolute;
  left: 96%;
  right: auto;
  top: 0px;
  z-index: 99;
}

.categoryItem:hover > .subcategory.megamenu {
  display: block;
}

.categoryName .title.noMenu, .subCategoryName .title.noMenu{
  padding-left: 0.75rem;
  -webkit-box-flex: 1;
  flex-grow: 1;
  text-decoration: none;
  height: 40px;
  display: flex;
  color: var(--bs-body-color);
  cursor: pointer;
  min-width: 278px;
  white-space: pre; 
  align-items: center;
  transition: all 250ms ease-in-out 0s;
}

.categoryName .title.noMenu:hover, .subCategoryName .title.noMenu:hover{ 
  text-decoration: underline;
  color: blue; 
}

 
 
.categoryItem .arrowIcon {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
}

.subCategoryItems {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  border-radius: 8px;
  margin-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.subCategoryName {
  height: 40px;
  display: flex;
  cursor: pointer;
  min-width: 278px;
  white-space: pre;
  padding: 0px 1rem;
  -webkit-box-align: center;
  align-items: center;
  transition: all 250ms ease-in-out 0s;
}

.subCategoryName .title {
  padding-left: 0.75rem;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.subCategoryName .arrowIcon {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
}

.subCategoryItem {
  color: rgb(43, 52, 69);
}

.subCategoryItem:hover > .subCategoryName {
  color: rgb(233, 69, 96);
  background: rgb(255, 225, 230);
}

.subCategoryItem:hover > .product.megamenu {
  display: block;
}

.product.megamenu {
  display: none;
  position: absolute;
  left: 96%;
  right: auto;
  top: 0px;
  z-index: 99;
}

.product.megamenu .productItems {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  border-radius: 8px;
  margin-left: 1rem;
  min-width: 560px;
  min-height: 100px;
  padding: 15px;
}

.productItems .productName {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.productItems .productName:hover {
  color: rgb(233, 69, 96);
  background: rgb(255, 225, 230);
  text-decoration: underline;
}

.menuItems {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 900px) {
  .header-last{
    display: none;
  }
}
